<h1>Criar treino</h1>

<%= form_with model: @exercise do |form| %>
  <% Category.all.each do |c| %>
    
    <%= form.collection_check_boxes :categories_id, Category.all, :id, :name %>
  <% end %>
  <div>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
  </div>

  <div>
  <%= form.label :categories_id %><br>
  <%= form.select "categories_id", options_from_collection_for_select(Category.all, :id, :name), class:"form-control" %>
  </div>

  <br>
  <div>
  <%= form.submit %>
  </div>
<% end %>