<h1>Adicionar Exercicio</h1>

<%= form_with model: @exercise do |form| %>
  <div>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
  </div>

  <div>
  <%= form.label :categories_id %><br>
  <%= form.select "categories_id", options_from_collection_for_select(Category.all, :id, :name), class:"form-control" %>
  </div>

  <br>
  <div>
  <%= form.submit %>
  </div>
<% end %>